* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  /* background-color: #ffffff; */
    /* background: linear-gradient(to bottom, #212529, #343A40); */
    /* background-color: #212529; */
  background-image: url("assets/gradient.jpg");
  /* background-size: cover; */
}

